<%- include('../partials/head', { pageTitle: t('auth.reset.title') }) %>
<section class="auth-card">
  <h1><%= t('auth.reset.title') %></h1>
  <div class="flash error"><%= t('auth.reset.expired') %></div>
  <div class="auth-links">
    <p><a href="/forgot-password"><%= t('auth.forgot.title') %></a></p>
  </div>
</section>
<%- include('../partials/foot') %>
