<%- include('../partials/head', { pageTitle: t('auth.verify.successTitle') }) %>
<section>
  <h1><%= t('auth.verify.successTitle') %></h1>
  <p><%= t('auth.verify.successBody') %></p>
  <p><a href="/login" role="button"><%= t('auth.verify.loginLink') %></a></p>
</section>
<%- include('../partials/foot') %>
